<div class="toolbar">
  <Ui::ToolbarClearButton
    @action={{action send "clearProfiles"}}
  />

  {{#unless this.showEmpty}}
    <Ui::ToolbarDivider />
    <Ui::ToolbarReloadButton
      @action={{action send "refreshPage"}}
      class="js-toolbar-page-refresh-btn"
    />
  {{/unless}}

  <Ui::ToolbarDivider />

  <Ui::ToolbarSearchField
    @value={{this.searchValue}}
    class="js-render-profiles-search"
  />

  <div class="toolbar__checkbox js-filter-hide-empty-model-types">
    <label>
      <Input
        data-test-options-highlight-render
        @type="checkbox"
        @checked={{this.shouldHighlightRender}}
        {{on "input" this.updateShouldHighlightRender}}
      />
      Highlight render
    </label>
  </div>
</div>
